header .container-fluid{
    max-width: 1400px;
}
header .header-top {
    background-color: #F7346F;
    height: 40px;
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

header .header-top .nav {
    height: 100%;
}

header .header-main {
    width: 100%;
    position: fixed;
    top: 40px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

header .header-main-content {
    height: 75px;
    align-items: center;
}

header .header-main-content>.col {
    display: flex;
}

header .header-main-content .logo {
    width: 250px;
    display: flex;
    align-items: center;
}

header .header-main-content .logo img {
    max-height: 50px;
}
header .sik-dropdown ul.dropdown-menu {
    transform: initial !important;
    top: 40px !important;
    padding: 0;
    border-radius: 1rem;
    min-width: initial;
    z-index: 9;
}
header .search-container {
    width: 360px;
    display: flex;
    flex-grow: 1;
}

header input#search-bar {
    width: 100%;
    font-size: 1rem;
    border: none;
    border-left: 1px solid #D0CFCE;
    outline: none;
    padding: 0 20px;
    padding-right: 0;
}

header .search-icon {
    outline: none;
    border: none;
    background: none;
}

header .search-icon i {
    font-size: 18px;
    color: #F7346F;
}

header .form-dropdown {
    width: fit-content;
    display: flex;
    border: 1px solid #cecece;
    border-radius: 25px;
    padding: 10px 5px 10px 0;
    background-color: #fff;
}
header a.nav-link {
    color: #fff;
    padding: 0;
}
header .nav>li {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
header .nav>li:last-child {
    margin-right: 0;
}
header .sik-dropdown .dropdown-toggle {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
header .sik-dropdown>.dropdown-toggle::after {
    display: none;
}
header .sik-dropdown::before {
    content: "\f3c5";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #F7346F;
    margin-left: 15px;
}
header .sik-dropdown::after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    margin-right: 15px;
}
header .sik-dropdown {
    display: flex;
}

@media only screen and (max-width: 768px) {
    header .search-container {
        width: 100%;
    }
    header .header-main-content .logo img {
        max-height: 35px;
    }
    header .header-main-content .logo {
        width: 150px;
    }
    header .form-dropdown{
        flex-grow: 1;
    }
}
@media only screen and (max-width: 443px){
    header .header-main-content .logo {
        width: initial;
    }
    header .header-main-content .logo img {
        max-width: 100%;
    }
}